h1 > span {
  color: rgb(0, 123, 255);
}

.center {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#friend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  width: 500px;
}